*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #000;
}

span {
    background: url('https://cdn4.iconfinder.com/data/icons/essentials-74/24/028_-_Heart-256.png');
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    pointer-events: none;
    left: 50%;
    top :50%;
    transform: translate(-50%, -50%);
    animation:animation 2s linear ;
}


@keyframes animation {
    0%{
        transform:  translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform:  translate(-50%, -500%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}